@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}




header {
    height: 70px;
    background: #000;
}
.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.between {
    justify-content: space-between;
}

.header-logo {
    font-size: 20px;
    font-weight: bold;
    margin-left: 35px;
    color: #f2f2f2;
    line-height: 70px;
}
.header-nav li {
    display: inline-block;
    margin-right: 35px;
    font-size: 16px;
}

.header-nav a {
    color: #f2f2f2;
}



@media screen and (max-width: 768px) {
    #hamburger{
       width: 40px;
       height: 40px;
       position: absolute;
       cursor: pointer;
       z-index: 100;
       top: 15px;
       right: 20px;
       transition: .4s;
   }


#hamburger span {
   position: absolute;
   left: 2px;
   display: block;
   width: 35px;
   height: 2px;
   background-color: #fff;
   transition:  .8s;
}

#hamburger span:nth-of-type(1){
   top: 10px;
}
#hamburger span:nth-of-type(2){
   top: 20px;
}
#hamburger span:nth-of-type(3){
   top: 30px;
}
}

@media screen and (max-width: 768px){
   .header-nav {
       display: none;
   }
}

@media screen and (max-width: 768px){
   .about-left,
   .about-right{
       width: 80%;
   }
}







#eyecatch {
    height: 600px;
    background: url(82173843.png) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#eyecatch p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-style: italic;
    font-weight: bold;
    color: #ccc;
    line-height: 1;
}








.hamburger.active span:nth-of-type(1){
    top: 20px;
    transform: rotate(45deg);
}
.hamburger.active span:nth-of-type(2){
    opacity: 0;
}
.hamburger.active span:nth-of-type(3){
    top: 20px;
    transform: rotate(-45deg);
}

@media screen and (max-width: 768px){
    .menu-content {
        display: block;
    }
}
.menu-content .menu-title {
    margin: 40px 20px;
    font-size: 2.2em;
    counter-reset: #333333;
    text-align: left;
    font-weight: bold;
}

.menu-content{
    width: calc(100% - 80px);
    height: 100%;
    text-align: center;
    transition: .2s;
    position: fixed;
    top: 0;
    left: calc(-100% - 80px);
    background: #fff;
    color: #333333;
    box-shadow: 80px 0 rgba(38, 98, 213, 0.3);
}
.menu-content li a {
    color: #333333;
    margin: 15px;
    padding: 5px;
    border-bottom: 0.5px solid #2662D5;
    text-decoration: none;
    display: block;
}
.menu-content li {
    width: 100%;
    text-align: left;
}
.menu-content .open {
    left: 100;
}